.title-warp.compear-page.average-page{
    .chart-warp .text p.left {
        background: #0071bd;
        color: white;
        border-left: 0px solid #0071bd;
    }
.compear-chart {
    margin-top: 40px;
    margin-left: 10px;
    
    ul{
        li{
            line-height: 40px;
            position: relative;
        }
    }
    .chart-bar {
        bottom: 23.6px;
    }
    span.cart-result {
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-left: 61px;
        padding-top: 20px;
        font-weight: bold;
    }
    span.ff0000{
        color: #ff0000;
    }
    span.clr008000{
        color: #008000;
    }
    span.f7f7f{
        color: #7f7f7f;
    }
}
}
    